<%= nested_form_for(@recipe) do |f| %>
  <% if @recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
      <% @recipe.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

	<%= f.fields_for :ingredients do |task_form| %>
		<%= task_form.text_field :quantity %>
		<%= task_form.link_to_remove "Remove" %>
	<% end %>
	
	<p><%= f.link_to_add "Add", :ingredients %></p>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
